---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout>
	<div class="flex justify-center items-center h-screen">
		<h2 class="text-2xl font-bold mb-4">Welcome to Astro!</h2>
	</div>
</Layout>
